<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <title>Hello, world!</title>
  </head>
  
  <body>
    <div class="container">
      <nav aria-label="Page navigation" class="pt-3">
        <ul class="pagination">
          {% if current_page == 1 %}
            <li class="page-item disabled"><a class="page-link" href="" tabindex="-1" aria-disabled="true">Предыдущая</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{current_page-1}}.html">Предыдущая</a></li>
          {% endif %}
          {% for index in range(1, total_pages+1) %}
            {% if index == current_page %}
              <li class="page-item active" aria-current="page"><a class="page-link active" href="index{{index}}.html">{{index}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{index}}.html">{{index}}</a></li>
            {% endif %}
          {% endfor %}
          {% if current_page == total_pages %}
            <li class="page-item disabled"><a class="page-link" href="" tabindex="-1" aria-disabled="true">Следующая</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{current_page+1}}.html">Следующая</a></li>
          {% endif %}
        </ul>
      </nav>
      {% for chunks in books_description %}
        <div class="row">
          {% for chunk in chunks %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{chunk.img_src}}" class="card-img" alt="{{chunk.title}}">
                  </div> 
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{chunk.title}}</h5>
                      <p class="card-text">{{chunk.author}}</p>
                      <p>
                        {% for genre in chunk.genres %}
                          <span class="badge badge-light">{{genre}}</span>
                        {% endfor %}
                      </p>
                      <p class="card-text"><a href="{{quote(chunk.book_src)}}" target="_blank">Читать</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>